<div class="container" style="    padding-top: 20%;">
    <div class="section" style="    width: 125%;">
        <div class="row ui-mediabox circular">
            <div class="col s4">
            <a class="img-wrap circle" href="assets/images/portfolio-square-4.jpg" data-fancybox="images"
              data-caption="Make new trends rich every corner">
              <img class="z-depth-1" style="width: 100%;" src="assets/images/portfolio-square-4.jpg">
            </a>
          </div>
            <div class="col s4">
            <a class="img-wrap circle" href="assets/images/portfolio-square-2.jpg" data-fancybox="images"
              data-caption="Stylish looking and modern looks">
              <img class="z-depth-1" style="width: 100%;" src="assets/images/portfolio-square-2.jpg">
            </a>
          </div>
            <div class="col s4">
            <a class="img-wrap circle" href="assets/images/portfolio-square-3.jpg" data-fancybox="images"
              data-caption="Looking stylish all the times">
              <img class="z-depth-1" style="width: 100%;" src="assets/images/portfolio-square-3.jpg">
            </a>
          </div>
            <div class="col s4">
            <a class="img-wrap circle" href="assets/images/portfolio-square-8.jpg" data-fancybox="images"
              data-caption="Latest fashion developments near you">
              <img class="z-depth-1" style="width: 100%;" src="assets/images/portfolio-square-8.jpg">
            </a>
          </div>
            <div class="col s4">
            <a class="img-wrap circle" href="assets/images/portfolio-square-6.jpg" data-fancybox="images"
              data-caption="Elegant and stylish looking trends">
              <img class="z-depth-1" style="width: 100%;" src="assets/images/portfolio-square-6.jpg">
            </a>
          </div>
            <div class="col s4">
            <a class="img-wrap circle" href="assets/images/portfolio-square-7.jpg" data-fancybox="images"
              data-caption="Making the best of your fashion">
              <img class="z-depth-1" style="width: 100%;" src="assets/images/portfolio-square-7.jpg">
            </a>
          </div>
           
         
           
          
        </div>
    </div>
</div>


<div class="container full" style="width: 100% !important;margin-bottom: 20% !important">

    <div class="section">

        <div class="row ">
            <div class="col s12 pad-0">
                <h5 class="bot-20"></h5>
                <ul class="collection mailbox activity z-depth-1">

                    <li class="collection-item avatar">
                        <a href="ui-app-chat.html" class='maillink waves-effect'> <img src="assets/images/user-44.jpg"
                                alt="Ewart Severns" title="Ewart Severns" class="circle">
                            <span class="title">Ewart Severns</span>
                            <p>
                                If Purple People Eaters are real… where do they find purple people to eat? </p>
                            <span class="time">Just Now</span>
                        </a>
                        <div class="media">
                            <a class="img-wrap round" href="assets/images/activity_101.jpg" data-fancybox="images"
                                data-caption="Ewart Severns (Just Now)">
                                <img class="z-depth-1" style="width: 100%;" src="assets/images/activity_101.jpg" />
                            </a>

                            <div class="actions">
                                <a href="#!"><i class="mdi mdi-thumb-up"></i> <span>505</span></a>
                                <a href="#!"><i class="mdi mdi-heart"></i> <span>474</span></a>
                                <a href="#!"><i class="mdi mdi-comment"></i> <span>483</span></a>
                                <a href="#!"><i class="mdi mdi-share"></i> <span>863</span></a>
                                <a href="#!" class="right"><i class="mdi mdi-dots-horizontal"></i></a>
                            </div>

                            <div class="input-field col s12">
                                <textarea id="textarea-normal" class="materialize-textarea"></textarea>
                                <label for="textarea-normal">Comment</label>
                            </div>


                        </div>



                        <!-- <div class="secondary-content">
      <a href="ui-app-chat.html" class='waves-effect'>      <i class="mdi mdi-reply"></i>
      </a>    </div> -->
                    </li>
                    <li class="collection-item avatar">
                        <a href="ui-app-chat.html" class='maillink waves-effect'> <img src="assets/images/user-28.jpg"
                                alt="Gael Burborough" title="Gael Burborough" class="circle">
                            <span class="title">Gael Burborough</span>
                            <p>
                                Joe made the sugar cookies; Susan decorated them. </p>
                            <span class="time">5 mins</span>
                        </a>
                        <div class="media">
                            <a class="img-wrap round" href="assets/images/activity_102.jpg" data-fancybox="images"
                                data-caption="Gael Burborough (5 mins)">
                                <img class="z-depth-1" style="width: 100%;" src="assets/images/activity_102.jpg" />
                            </a>

                            <div class="actions">
                                <a href="#!"><i class="mdi mdi-thumb-up"></i> <span>397</span></a>
                                <a href="#!"><i class="mdi mdi-heart"></i> <span>480</span></a>
                                <a href="#!"><i class="mdi mdi-comment"></i> <span>867</span></a>
                                <a href="#!"><i class="mdi mdi-share"></i> <span>602</span></a>
                                <a href="#!" class="right"><i class="mdi mdi-dots-horizontal"></i></a>
                            </div>

                            <div class="input-field col s12">
                                <textarea id="textarea-normal" class="materialize-textarea"></textarea>
                                <label for="textarea-normal">Comment</label>
                            </div>


                        </div>



                        <!-- <div class="secondary-content">
      <a href="ui-app-chat.html" class='waves-effect'>      <i class="mdi mdi-reply"></i>
      </a>    </div> -->
                    </li>
                    <li class="collection-item avatar">
                        <a href="ui-app-chat.html" class='maillink waves-effect'> <img src="assets/images/user-38.jpg"
                                alt="Hurlee Sallan" title="Hurlee Sallan" class="circle">
                            <span class="title">Hurlee Sallan</span>
                            <p>
                                A person who does not speak a great deal; someone who talks with as few words as
                                possible. </p>
                            <span class="time">10 mins</span>
                        </a>
                        <div class="media">
                            <a class="img-wrap round" href="assets/images/activity_103.jpg" data-fancybox="images"
                                data-caption="Hurlee Sallan (10 mins)">
                                <img class="z-depth-1" style="width: 100%;" src="assets/images/activity_103.jpg" />
                            </a>

                            <div class="actions">
                                <a href="#!"><i class="mdi mdi-thumb-up"></i> <span>958</span></a>
                                <a href="#!"><i class="mdi mdi-heart"></i> <span>436</span></a>
                                <a href="#!"><i class="mdi mdi-comment"></i> <span>663</span></a>
                                <a href="#!"><i class="mdi mdi-share"></i> <span>226</span></a>
                                <a href="#!" class="right"><i class="mdi mdi-dots-horizontal"></i></a>
                            </div>

                            <div class="input-field col s12">
                                <textarea id="textarea-normal" class="materialize-textarea"></textarea>
                                <label for="textarea-normal">Comment</label>
                            </div>


                        </div>



                        <!-- <div class="secondary-content">
      <a href="ui-app-chat.html" class='waves-effect'>      <i class="mdi mdi-reply"></i>
      </a>    </div> -->
                    </li>
                    <li class="collection-item avatar">
                        <a href="ui-app-chat.html" class='maillink waves-effect'> <img src="assets/images/user-34.jpg"
                                alt="Anastassia Lyle" title="Anastassia Lyle" class="circle">
                            <span class="title">Anastassia Lyle</span>
                            <p>
                                I really want to go to work, but I am too sick to drive. </p>
                            <span class="time">15 mins</span>
                        </a>
                        <div class="media">
                            <a class="img-wrap round" href="assets/images/activity_104.jpg" data-fancybox="images"
                                data-caption="Anastassia Lyle (15 mins)">
                                <img class="z-depth-1" style="width: 100%;" src="assets/images/activity_104.jpg" />
                            </a>

                            <div class="actions">
                                <a href="#!"><i class="mdi mdi-thumb-up"></i> <span>763</span></a>
                                <a href="#!"><i class="mdi mdi-heart"></i> <span>662</span></a>
                                <a href="#!"><i class="mdi mdi-comment"></i> <span>718</span></a>
                                <a href="#!"><i class="mdi mdi-share"></i> <span>941</span></a>
                                <a href="#!" class="right"><i class="mdi mdi-dots-horizontal"></i></a>
                            </div>

                            <div class="input-field col s12">
                                <textarea id="textarea-normal" class="materialize-textarea"></textarea>
                                <label for="textarea-normal">Comment</label>
                            </div>


                        </div>



                        <!-- <div class="secondary-content">
      <a href="ui-app-chat.html" class='waves-effect'>      <i class="mdi mdi-reply"></i>
      </a>    </div> -->
                    </li>
                    <li class="collection-item avatar">
                        <a href="ui-app-chat.html" class='maillink waves-effect'> <img src="assets/images/user-25.jpg"
                                alt="Glenda Furlonge" title="Glenda Furlonge" class="circle">
                            <span class="title">Glenda Furlonge</span>
                            <p>
                                When something is about to begin, get serious, or put to the test. </p>
                            <span class="time">45 mins</span>
                        </a>
                        <div class="media">
                            <a class="img-wrap round" href="assets/images/activity_105.jpg" data-fancybox="images"
                                data-caption="Glenda Furlonge (45 mins)">
                                <img class="z-depth-1" style="width: 100%;" src="assets/images/activity_105.jpg" />
                            </a>

                            <div class="actions">
                                <a href="#!"><i class="mdi mdi-thumb-up"></i> <span>406</span></a>
                                <a href="#!"><i class="mdi mdi-heart"></i> <span>734</span></a>
                                <a href="#!"><i class="mdi mdi-comment"></i> <span>371</span></a>
                                <a href="#!"><i class="mdi mdi-share"></i> <span>239</span></a>
                                <a href="#!" class="right"><i class="mdi mdi-dots-horizontal"></i></a>
                            </div>

                            <div class="input-field col s12">
                                <textarea id="textarea-normal" class="materialize-textarea"></textarea>
                                <label for="textarea-normal">Comment</label>
                            </div>


                        </div>



                        <!-- <div class="secondary-content">
      <a href="ui-app-chat.html" class='waves-effect'>      <i class="mdi mdi-reply"></i>
      </a>    </div> -->
                    </li>


                </ul>
            </div>
        </div>

    </div>
</div>








<div class="container full">

</div>