

<div class="backtotop">
  <a class="btn-floating btn primary-bg">
    <i class="mdi mdi-chevron-up"></i>
  </a>
</div>





<div class="footer-menu circular">
  <ul>
    <li>
      <a href="ui-apps.html"> <i class="mdi mdi-open-in-app"></i>
        <span>Apps</span>
      </a> </li>
    <li>
      <a href="sub-pages.html"> <i class="mdi mdi-palette-swatch"></i>
        <span>Pages</span>
      </a> </li>
    <li>
      <a href="sub-home.html"> <i class="mdi mdi-home-outline"></i>
        <span>Home</span>
      </a> </li>
    <li>
      <a href="sub-components.html"> <i class="mdi mdi-flask-outline"></i>
        <span>Components</span>
      </a> </li>
    <li>
      <a href="sub-gallery.html"> <i class="mdi mdi-view-dashboard"></i>
        <span>Gallery</span>
      </a> </li>

  </ul>
</div>